
@font-face {
  font-family: "iranyekan";
  font-style: normal;
  src: url("../Font/ttf/iranyekan.ttf");
}

body html {
  font-family: "iranyekan" !important;
}
a {
  font-family: "iranyekan" !important;
}